<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>길찾기 앱</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #map {
            flex-grow: 1; /* Make the map div grow and take up the remaining space */
            width: 100%;
            height: 800px;
            margin-top: 20px;
        }

        p {
            margin: 10px 0;
            display: flex;
            align-items: center;
            white-space: nowrap; /* Prevents text wrapping */
        }

        label {
            margin-right: 10px;
        }

        input {
            padding: 8px;
            margin-right: 10px;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        span {
            padding: 3%;
        }
    </style>
    <script>
        var cctv_markers = [];
        var lamp_markers = [];
        var bell_markers = [];
        var poly = []

        async function processInput() {
            setMarkers("bell", null)
            for(let i=0; i<poly.length; i++) {
                poly[i].setMap(null);
            }
            poly = []

            var fromloc = document.getElementById("nowloc").value;
            var toloc = document.getElementById("destloc").value;
            from = fromloc.split(" ");
            to = toloc.split(" ");
            var waypoint = [];

            for (let i = 0; i < 5; i++) {
                var requestData = {
                    arg1: fromloc,
                    arg2: toloc
                };

                if (i > 0 && waypoint.length > 0) {
                    requestData = {
                        arg1: waypoint[i-1].latitude + " " + waypoint[i-1].longitude,
                        arg2: toloc
                    };
                }

                try {
                    const response = await fetch('/execute_function', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(requestData),
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }

                    const data = await response.json();
                    if (data.length <= 0 ) { continue; }
                    if (i>0 && data[0]["latitude"] == waypoint[i-1].latitude) {
                        break;
                    } else {
                        waypoint.push({ latitude: data[0]["latitude"], longitude: data[0]["longitude"] });
                    }
                    console.log(data[0]["latitude"]);
                } catch (error) {
                    console.error('Error:', error);
                }   
            }

            setCenter(from[0], from[1]);
            getCarDirection(from, to, waypoint);
        }

        // 지도 중심 이동
        function setCenter(lat, lng) {
            lat = parseFloat(lat)
            lng = parseFloat(lng)
            const moveLatLon = new kakao.maps.LatLng(lat, lng);
            map.panTo(moveLatLon);
        }
        async function getCarDirection(from, to, waypoint) {
            const REST_API_KEY = '1bb7bd4b30cf6fbd4e42ff20b262a39a';
            // 호출방식의 URL을 입력합니다.
            const url = 'https://apis-navi.kakaomobility.com/v1/waypoints/directions';

        // 출발지(origin), 목적지(destination)의 좌표를 문자열로 변환합니다.
            // const origin = `${from[1]},${from[0]}`; 
            // const destination = `${to[1]},${to[0]}`;

            const origin = { x: from[1], y: from[0] };
            const destination = { x: to[1], y: to[0] };

            const waypoints = [];

            for (let i = 0; i < waypoint.length; i++) {
            const currentWaypoint = waypoint[i];

            const newWaypoint = {
                name: `name${i}`,
                x: currentWaypoint.longitude,
                y: currentWaypoint.latitude
            };

            waypoints.push(newWaypoint);
            }
            
            const requestBody = {
            origin: origin,
            destination: destination,
            waypoints: waypoints,
            priority: 'RECOMMEND',
            car_fuel: 'GASOLINE',
            car_hipass: false,
            alternatives: false,
            road_details: false
            };

            const headers = {
            Authorization: `KakaoAK ${REST_API_KEY}`,
            'Content-Type': 'application/json'
            };

            try {
            const response = await fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(requestBody)
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            
            const data = await response.json();
            console.log(data)
            const linePath = [];
            for (let i = 0; i < data.routes[0].sections.length; i++) {
                data.routes[0].sections[i].roads.forEach(router => {
                router.vertexes.forEach((vertex, index) => {
                // x,y 좌표가 우르르 들어옵니다. 그래서 인덱스가 짝수일 때만 linePath에 넣어봅시다.
                // 저도 실수한 것인데 lat이 y이고 lng이 x입니다.
                if (index % 2 === 0) {
                    linePath.push(new kakao.maps.LatLng(router.vertexes[index + 1], router.vertexes[index]));
                }
                });
            });
            }
            
            var polyline = new kakao.maps.Polyline({
                path: linePath,
                strokeWeight: 5,
                strokeColor: '#000000',
                strokeOpacity: 0.7,
                strokeStyle: 'solid'
            }); 
            poly.push(polyline)
            polyline.setMap(map);
            } catch (error) {
            console.error('Error:', error);
            }
  }
        function setmark(item, lat, lng) {
            switch (item) {
                case "cctv":
                    var imageSrc = "{{ url_for('static', filename='image/cctv.png') }}", // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
                    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(lat, lng); // 마커가 표시될 위치입니다

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition, 
                        image: markerImage // 마커이미지 설정 
                    });
                    cctv_markers.push(marker)
                    break;
                case "streetlamp":
                    var imageSrc = "{{ url_for('static', filename='image/steetlamp.png') }}", // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
                    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(lat, lng); // 마커가 표시될 위치입니다

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition, 
                        image: markerImage // 마커이미지 설정 
                    });

                    lamp_markers.push(marker)
                    break;
                case "bell":
                var imageSrc = "{{ url_for('static', filename='image/bell.png') }}", // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
                    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(lat, lng); // 마커가 표시될 위치입니다

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition, 
                        image: markerImage // 마커이미지 설정 
                    });

                    bell_markers.push(marker)
                    break;
            }

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map); 
        }

        function setMarkers(item, map) {
            switch (item) {
                case "cctv":
                    for (var i = 0; i < cctv_markers.length; i++) {
                    cctv_markers[i].setMap(map);
                    }
                    cctv_markers = []
                    break;
            
                case "lamp":
                    for (var i = 0; i < lamp_markers.length; i++) {
                    lamp_markers[i].setMap(map);
                    }     
                    lamp_markers = []
                    break;
                case "bell":
                    for (var i = 0; i < bell_markers.length; i++) {
                    bell_markers[i].setMap(map);
                    }     
                    bell_markers = []
                    break;
            }
            
        }

        async function cctv_mark() {
            if (cctv_markers.length > 0) {
                setMarkers("cctv", null)
                return
            }
            var fromloc = document.getElementById("nowloc").value;
            from = fromloc.split(" ");

            var requestData = {
                    arg1: fromloc
                };
            try {
                const response = await fetch('/cctv', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                console.log(data);
                for(let i = 0; i < data.length; i++) {
                    setmark("cctv", data[i].latitude, data[i].longitude)
                }
            } catch (error) {
                console.error('Error:', error);
            }   
        }

        async function lamp_mark() {
            if (lamp_markers.length > 0) {
                setMarkers("lamp", null)
                return
            }
            var fromloc = document.getElementById("nowloc").value;
            from = fromloc.split(" ");

            var requestData = {
                    arg1: fromloc
                };
            try {
                const response = await fetch('/lamp', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const data = await response.json();
                console.log(data);
                for(let i = 0; i < data.length; i++) {
                    setmark("streetlamp", data[i].latitude, data[i].longitude)
                }
            } catch (error) {
                console.error('Error:', error);
            }   
        }

        async function pressWarn() {
            // setMarkers("cctv", null)
            // setMarkers("lamp", null)
            for(let i=0; i<poly.length; i++) {
                poly[i].setMap(null);
            }
            poly = []
            var data = []

            var fromloc = document.getElementById("nowloc").value;
            from = fromloc.split(" ");

            var requestData = {
                    arg1: fromloc
                };
            try {
                const response = await fetch('/bell', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                data = await response.json();
                console.log(data);
                // for(let i = 0; i < data.length; i++) {
                //     setmark("bell", data[i].latitude, data[i].longitude)
                // }
                setmark("bell", data[0].latitude, data[0].longitude)
            } catch (error) {
                console.error('Error:', error);
            }
            const REST_API_KEY = '1bb7bd4b30cf6fbd4e42ff20b262a39a';
            // 호출방식의 URL을 입력합니다.
            const url = 'https://apis-navi.kakaomobility.com/v1/directions';

        // 출발지(origin), 목적지(destination)의 좌표를 문자열로 변환합니다.
            const origin = `${from[1]},${from[0]}`; 
            const destination = `${data[0].longitude},${data[0].latitude}`;
            
            // 요청 헤더를 추가합니다.
            const headers = {
            Authorization: `KakaoAK ${REST_API_KEY}`,
            'Content-Type': 'application/json'
            };
        
            // 표3의 요청 파라미터에 필수값을 적어줍니다.
            const queryParams = new URLSearchParams({
            origin: origin,
            destination: destination
            });
            
            const requestUrl = `${url}?${queryParams}`; // 파라미터까지 포함된 전체 URL

            try {
            const response = await fetch(requestUrl, {
                method: 'GET',
                headers: headers
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const data = await response.json();
            
            const linePath = [];
            data.routes[0].sections[0].roads.forEach(router => {
                router.vertexes.forEach((vertex, index) => {
                // x,y 좌표가 우르르 들어옵니다. 그래서 인덱스가 짝수일 때만 linePath에 넣어봅시다.
                // 저도 실수한 것인데 lat이 y이고 lng이 x입니다.
                if (index % 2 === 0) {
                    linePath.push(new kakao.maps.LatLng(router.vertexes[index + 1], router.vertexes[index]));
                }
                });
            });
            var polyline = new kakao.maps.Polyline({
                path: linePath,
                strokeWeight: 5,
                strokeColor: '#99001c',
                strokeOpacity: 0.7,
                strokeStyle: 'solid'
            }); 
            poly.push(polyline)
            polyline.setMap(map);
            } catch (error) {
            console.error('Error:', error);
            }
  }
    </script>
</head>
<body>

    <p>
        <label for="nowloc">현재 위치 :</label>
        <input type="text" id="nowloc" value="37.557470 126.970550"/>

        <label for="destloc">목적지 :</label>
        <input type="text" id="destloc" value="37.557512 126.977377"/>
        <button onclick="processInput()">길찾기</button>

        <span><button onclick="pressWarn()">위험상황</button></span>
    </p>

    <p>
        <label for="cctv">CCTV:</label>
        <input type="checkbox" id="cctv" name="checkbox_name" value="checkbox_value" onclick="cctv_mark()"/>

        <label for="lamp">가로등 :</label>
        <input type="checkbox" id="lamp" onclick="lamp_mark()"/>
    </p>

    <div id="map" ></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8735a115cee93dda937d290d933620b"></script>
    <script>
        var mapContainer = document.getElementById('map');
        var mapOption = { 
            center: new kakao.maps.LatLng(37.54699, 127.09598),
            level: 4
        };
        var map = new kakao.maps.Map(mapContainer, mapOption);
    </script>

</body>
</html>